
<h1 class="text-center h3">{{ page.title }}</h1>
<form id="harvester" action="https://formspree.io/hello@six-ideas.com" method="POST">
  <!-- TODO: Add validation to form -->
  <fieldset>
    <label>
      First Name:
      <input type="text" name="firstname" placeholder="First Name">
    </label>
    <label>
      Last Name:
      <input type="text" name="lastname" placeholder="Last Name">
    </label>
    <label>
      Email Address:
      <input type="email" name="email" placeholder="Email Address">
    </label>
    <input type="checkbox" name="contact" checked><label for="checkboxaccept">Yes, I’m happy to be contacted occasionally about similar topics</label>
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_next" value="{{ site.url }}{{ site.baseurl }}/publication" />
    <div class="grid-x align-bottom">
      <div class="cell medium-8">
      </div>
      <div class="cell medium-4">
        <input type="submit" class="button large expanded" value="ACCESS REPORT">
      </div>
    </div>
  </fieldset>
</form>
