<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="{{ site.main_color }}">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/images/iconblue64.png" />
  <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/images/iconblue256.png" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}{{ site.baseurl }}/assets/images/iconblue128.png" />
  <link href="{{ site.url }}{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/styles/main.css" />
  {% seo title=false %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109284785-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109284785-1');
  </script>
</head>
