<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="{{ site.main_color }}">
  <title>{% if page.title %}{{ page.title }} / {% endif %}{% if page.section %}{{ page.section }} / {% endif %}{{ site.title }}</title>
  <link rel="icon" type="image/png" href="/assets/images/iconpurple64.png" />
  <link rel="icon" type="image/png" href="/assets/images/iconpurple256.png" />
  <link rel="apple-touch-icon-precomposed" href="/assets/images/iconpurple128.png" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-sans-fontface@1.4.0/open-sans.css" integrity="sha256-krT6LoJqEPxFmpNmt5UAcMwmXFHGyJbshbxqTZzqojI=" crossorigin="anonymous">
  {% seo title=false %}
</head>
