---
---

<h3>Privacy policy</h3> 

<p>Six-ideas.info is a website owned by Six Ideas Global Ltd. for the distribution of white papers, reports and other news and reading material. This privacy policy explains how we use any personal information we collect about you when you use this website. 
We collect your first and surnames and an e-mail address when you access our reading material.</p>

<p>If you give permission for us to get in touch we will use your e-mail address to send you the occasional e-mail telling you about something we’ve written or done which we think might interest you. You can ask us to stop sending you these at any time using the e-mail address below. We store your information securely and never pass information to third parties without seeking your prior consent.</p>

<p>You have the right to request a copy of the information that we hold about you. If you would like a copy of some or all of your personal information, please write to us at the e-mail address below. We want to make sure that your personal information is accurate and up to date. You may ask us to correct or remove information you think is inaccurate.</p>

<p>This privacy policy only applies to this website so when you link to other websites you should read their own privacy policies. We keep our privacy policy under regular review and we will place any updates on this web page. This privacy policy was last updated on 6th November 2017.</p>

<p>Please contact us if you have any questions about our privacy policy or information we hold about you:</p>

<p>E-mail: hello@six-ideas.com</p>

