---
#layout: compress
---

<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body class="homepage">
    <div class="grid-container grid-x grid-padding-x">
      <div class="cell medium-6 large-5">
        <div class="grid-y large-grid-frame" style="height: 100vh;">
          <div class="cell auto">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/iconwhite.svg" style="width: 128px; height: 128px;"/>
          </div>
          <div class="cell shrink">
            <h2 id="impact"><strong>{{ page.impact }}</strong></h2>
            <p class="lead">{{ content }}</p>
          </div>
          <div class="cell auto">
          </div>
        </div>
      </div>
      <div class="cell medium-6 large-offset-1" style="background-color: #373A35;">
        <div class="grid-y large-grid-frame">
          <div class="cell auto">
          </div>
          <div class="cell shrink large-cell-block-container" style="padding:1rem;">
            {% include form.html %}
          </div>
          <div class="cell auto">
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
