---
layout: compress
---

<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    <div class="grid-container grid-y large-grid-frame" style="background-color: blue;">
      <div class="cell shrink" style="background-color: green;">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/iconwhite.svg" style="width: 128px; height: 128px;"/>
      </div>
      <div class="cell large-auto" style="background-color: gray;">
        <div class="grid-x grid-margin-x grid-padding-x">
          <div class="cell large-6">
            <div class="grid-y grid-frame" style="background-color: cyan;">
              <div class="cell medium-auto" style="background-color: pink;">
              </div>
              <div class="cell" style="background-color: red;">
                <p>{{ page.impact }}</p>
                <p>{{ content }}</p>
              </div>
              <div class="cell medium-auto" style="background-color: pink;">
              </div>
            </div>
          </div>
          <div class="cell large-6" style="background-color: red;">
            <h1>The Title</h1>
            <label>
              First name:
              <input type="text" placeholder="First Name"></textarea>
            </label>
            <label>
              Last name:
              <input type="text" placeholder="Last Name"></textarea>
            </label>
            <label>
              Email Address:
              <input type="email" placeholder="Email Address"></textarea>
            </label>
            <div class="grid-x">
              <div class="cell medium-8">
                <p>I've already entered my details</p>
              </div>
              <div class="cell medium-4">
                <a class="button large expanded" href="#">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell shrink" style="background-color: green;">
        {% include footer.html %}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
